.robot-arm-container {
  width: 200px;
  height: 200px;
  border: 1px dashed #111;
}

.robot-arm-container > svg {
  width: 200px;
  height: 200px;
}

.move-hand {
  animation: moveHand 1s infinite alternate;
}

@keyframes moveHand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
